header {
    height: 180px;
    border: 10px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav {
    width: 50%;
    display: flex;
    align-items: center;
}

.titlepage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    list-style: none;
    padding: 8px;
    border-radius: 8px;
    width: 150px;
    height: 20px;
    text-align: center;
    text-decoration:none;
    background-color: grey;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color:red;
    text-decoration:none;
}

.podimage img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 32px;
    box-shadow: 8px 8px 5px #444;
}
.podimage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.allthepod {
    background-color: white;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.podcast {
    width: 200px;
    text-align: center;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 64px;
    margin-left: 64px;
}
.searchbar{
    height:80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchbar_input, .searchbar_radio{
    width:50%;
    display:flex;
    justify-content: space-around;
    margin:32px;
}

#imagedudetail {
    height: 500px;
}

.imagecasque {
    height: 150px;
    width:150px;
    margin-left:  200px;
}

.texte{
text-align: center;
}

h1{
font-size:50px;
}

h2{
    font-size: 35px;
}